#Define your port on which the backend server will be running: eg - 3000, 5000
PORT=

# Add DB details
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

# Add jwt secret here you can get it online from this website : https://jwtsecrets.com/#generator
JWT_SECRET=